.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-area: header;
  font-size: 15px;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}

.man {
  grid-area: x;
  font-size: 13px;
}
.expo {
  grid-area: y;
  font-size: 13px;
}
.eployees {
  grid-area: z;
  font-size: 13px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu menu main main main right"
    "x x y y z z"
    "header header header header header header";
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
